/* Asterisk wild card selector to overide default styles added by browser*/
* {
    padding: 0;
    margin: 0;
    box box-sizing: border-box;
}

/* General styles */
body {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    /* Generic project styles*/
    background-color: #526868;
    color: #ffffff;
}

/* Header */
header {
    background-color: #bd5757;
    padding: 0 1rem;
    border-left: 0px;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

.logo-nav {
    flex: 1 20 100px;
    height: 10%;
    width: 10%;
}

#logo-image {
    height: 50px;
    width: 50px;
}

h1 {
    font-family: ;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu li {
    margin-bottom: 1em;

}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #bd5757;
    width: 100%;
    box-shadow: 0 2px 2px #636363d5;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    /* make main element take up surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 60px;
}

/* History Section */
.history-container {
    background-color: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2px;
    border-radius: 5px;
    background-color: #25252573;
}

.history-paragraph {
    color: #ffffff;
    text-align: center;
    flex: 1 0 250px;
    margin: 10px;
}

.old-picture {
    text-align: center;
    flex: 1 20 100px;
    height: 10%;
    width: 10%;
}

#history-img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

/*Tournaments section*/
.tornaments-container {
    border: 2px solid #ececec;
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

    padding: 5px;
}

.world-cup {

    text-align: center;
    flex-direction: column;
    flex: 1 0 250px;
    margin: 10px;
    object-fit: contain;
    border-radius: 5px;
    background-color: #25252573;
}

.six-nations {

    text-align: center;
    flex-direction: column;
    flex: 1 0 250px;
    margin: 10px;
    object-fit: contain;
    border-radius: 5px;
    background-color: #25252573;
}

.autumn-nations {

    text-align: center;
    flex-direction: column;
    flex: 1 0 250px;
    margin: 10px;
    object-fit: contain;
    border-radius: 5px;
    background-color: #25252573;
}

.trophies {
    object-fit: contain;
    height: 100px;
    width: 100px;
    text-align: center;
    margin: 10px;
}

/*Teams section*/
.table-container {
    justify-content: center;
    text-align: center;
}

.teams-table {
    border-radius: 5px;
    background-color: #eeeeee3d;
    margin-left: auto;
    margin-right: auto;

}
th, td{
    background-color: #526868;
}


/* Footer */
footer ul {
    background-color: #bd5757;
    list-style-type: none;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;

    }

    #logo {
        font-size: ;
        line-height: ;
        margin: 1 1.5rem;
    }

    /* Maint content*/
    main {
        /* Push main content down to accomodate larger header */
        margin-top: 79px;
    }
}

/* Larger devices (laptops and desktops, 992px and up */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #ffffff;
    }

}